<div class="btn-group-vertical">
    <button type="button"
            class="btn btn-secondary"
            (click)="selectCube()">
        Добавить Куб
    </button>
    <button type="button"
            class="btn btn-secondary"
            (click)="selectSphere()">
        Добавить Сферу
    </button>
    <button type="button"
            class="btn btn-secondary"
            (click)="selectLine()">
        Добавить Линию
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="selectClean()">
        Отчистить
    </button>
</div>